

.ebookbtn {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
}

.btn-split{

  background: none;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

mynotes{
  padding-left:20px;



}

.notshownotes{
  display:none;
}

.shownotes{
  width:50%;
  height: 100%;
  float:right;
  border-radius:5px;
}


.btn-split:focus{
  border: 1px solid blue;
}

.selected{
  background:rgba(125,125,125,0.3);

}

.split{
  width: 50%;


  li{
    padding-right:30px;
    text-align: justify;
    text-justify: inter-word;
  }


}

.notsplit{
  width:100%;
  -webkit-transition: .5s; /* Safari */
  transition: .5s;
  transition-timing-function: ease-out;
}
.userid{
  margin-top: -60px;
  padding-right: 10px;
  color: cornflowerblue;
  float:right;

}
.ebookarea {
  height:1000px;
}

.ebookarea:focus{
  outline: 0px solid transparent;
}

.btn-sync{
  background: none;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.active{
  background-color: lightblue;
  width:30%;
  border-radius:5px;
  color:darkslategray;
  opacity:1;

}
.noteblock{
  margin-left:60px;
}
.notebook {
  font-size: 1.5em;
  color:darkslategrey;
  margin-left:10px;
.notebooktitle{
  color: darkslategrey;
  opacity:0.5;
}
  .eachnotebook{
    margin-left:30px;
    font-size:1.2em;



  }
  .eachnotebook:hover{
    color:gold;
  }
}

a{
  text-decoration: none;
  color:darkslategrey;
}

a:hover{
  text-decoration: none;
  color:darkslategrey;

}

a:visited{
  text-decoration: none;
  color:darkslategrey;
}

a:focus{
  text-decoration: none;
}

.notes{
  font-size:1.3em;
}

.created{
  font-size:.9em;
  color:lightslategrey;
  float:right;
}
.notesbrdr{
  height:5px;
  width:100%;
  margin-top: 20px;
  background-color: darkslategray;
}
.selection{
  height:100px;
  font-size:1.2em;
  color:darkgray;
  padding-top:20px;

}
.evernotebtn{
  width:20%;
  border:1px black solid;
  border-radius: 5px;
  padding-left: 5px;
  margin-top:5px;


  .evernotedesc{
  padding-top:20px;
  color:black;

  }

  .evernotelogo{
    margin-left: 10px;
    background-color: #259d4f;
    width: auto;
    max-height:30px;
  }

}